*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
h1 {
	color: red;
}
h2 {
	color: blue;
}
ol {
	color: dimgrey;
}
.text {
	color: cadetblue;
}
#main-text {
	color: darkslategrey;
}
span.text {
	color: mediumpurple;
}